body {
margin:0.5em;
}

h1 {
font-size: 0.85em;
line-height: 1.3em;
font-family: 'Open Sans', sans-serif;
color:purple;
cursor: pointer;
margin:0;
}

p1{
font-size: 0.85em;
line-height: 1.3em;
font-family: 'Open Sans', sans-serif;
color:black;
display: block;
top:0;
}

p2{
font-size: 0.85em;
font-family: 'Open Sans', sans-serif;
color:purple;
cursor: pointer;
z-index: 999;
float:right;
}

p3{
font-size: 0.85em;
line-height: 1.3em;
font-family: 'Open Sans', sans-serif;
color:purple;
display: block;
top:0;
}

a{
text-decoration: none;
color:purple;
}


.about{
width:20vw;
position: fixed;
}

.foot{
width:20vw;
position: fixed;
bottom:0.5em;
}

#interests{
width:20vw;
position: fixed;
display: none;
top:25vh;
}

.about:hover ~ #interests {
display: block;
}

#content{
box-sizing: border-box;
}

article {
width:50vw;
margin-left:20vw;
z-index: 0;
}

.title {
position: -webkit-sticky;
position: sticky;
color:purple;
}

.section{
}

.description-content{
margin-top:40px;
position: absolute;
z-index: 1;
background: inherit;
overflow: hidden;
width:25%;
height:auto;
display: inline-block;
}


.column-1 {
float: left;
padding: 0 1% 0 0;
display: inline-block;
}

.column {
float: left;
padding: 0 1% 0 0;
}

.row:after {
content: "";
display: table;
clear: both;
}

.row{
margin-left:20vw;
height:90vh;
}

#adv-custom-pager-1{
position: absolute;
}
#adv-custom-pager-2{
position: absolute;
}


.cycle-slideshow{
margin-top:40px;
width:42vw;
}

.caption-1 {
font-size: 0.85em;
font-family: 'Open Sans', sans-serif;
color:black;
cursor: pointer;
display: inline;
}

.caption-2 {
font-size: 0.85em;
font-family: 'Open Sans', sans-serif;
color:black;
cursor: pointer;
display: inline;
}
